footer {
    background-color: #521f85;
    padding: 10px 0;
    width: 100%;
}

.footer-list {
    display: flex;
    justify-content: space-around;
    align-items: center;  
    padding: 10px 15px;
}

.footer-list li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}